<header>
    <nav>
      <ul>
        <li>
            <a href="/">Home</a>
          </li>
        <li>
          <a href="/movies">Todas las peliculas</a>
        </li>
        <li>
          <a href="/movies/new">Nuevas peliculas</a>
        </li>
        <li>
          <a href="/movies/recommended">Recomendamos estas peliculas</a>
        </li>
        <li>
          <a href="/genres">Generos</a>
        </li>
      </ul>
    </nav>
  </header>